# This Field is a general view of the Data

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import json

### Import the CSV

In [6]:
df_ry = pd.read_json('Data/DATA_RY_CARDS.csv')

### Check if any wrong format

In [9]:
df_ry

,Player_Name,Player_id,Position,Team,Season_id,Season_name,Yellow_Cards,Red_Cards
0,"Medard, Maxime",sr:player:428238,W,France,sr:season:56025,European Cup 18/19,0,0
1,"Medard, Maxime",sr:player:428238,W,France,sr:season:35125,European Cup 16/17,0,0
2,"Medard, Maxime",sr:player:428238,W,France,sr:season:59616,World Cup 2019,0,0
3,"Medard, Maxime",sr:player:428238,W,France,sr:season:10718,Top 14 15/16,0,0
4,"Medard, Maxime",sr:player:428238,W,France,sr:season:11032,Six Nations 2016,0,0
...,...,...,...,...,...,...,...,...
1790,"Zanni, Alessandro",sr:player:450864,L,Italy,sr:season:59616,World Cup 2019,0,0
1791,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:45148,European Cup 17/18,0,0
1792,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:55971,Pro 14 18/19,0,0
1793,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:67705,Pro 14 19/20,0,0
1794,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:68606,European Cup 19/20,0,0

## See the season competitions

In [11]:
df_ry.groupby('Season_name').sum()

                             Yellow_Cards  Red_Cards
Season_name
English A League 2015                   0          0
English Premiership 15/16               8          0
English Premiership 16/17              12          1
English Premiership 17/18              10          2
English Premiership 18/19              13          0
English Premiership 19/20               1          0
European Cup 15/16                      8          1
European Cup 16/17                     11          2
European Cup 17/18                     15          0
European Cup 18/19                     13          0
European Cup 19/20                      4          0
Premiership Rugby Cup 18/19             0          0
Premiership Rugby Cup 19/20             0          0
Pro 12 15/16                           27          1
Pro 12 16/17                           33          0
Pro 14 17/18                           18          2
Pro 14 18/19                           18          1
Pro 14 19/20                            2          0
Six Nations 2016                        6          0
Six Nations 2017                        6          0
Six Nations 2018                        6          0
Six Nations 2019                        5          0
Super Rugby 2016                        0          0
Super Rugby 2017                        0          0
Super Rugby 2018                        2          0
Top 14 15/16                            2          0
World Cup 2015                          6          0
World Cup 2019                          4          3

In [12]:
df_ry.groupby('Position').sum()

          Yellow_Cards  Red_Cards
Position
BR                  38          0
C                   15          1
FB                  11          0
FH                  19          1
HO                  22          1
L                   39          3
PR                  53          4
SH                  14          0
W                   19          3

In [13]:
df_ry.groupby('Team').sum()

          Yellow_Cards  Red_Cards
Team
England             54          2
France              12          2
Ireland             40          3
Italy               37          4
Scotland            46          1
Wales               41          1

## Pivot table of team by position of yellow cards

In [21]:
pt_team = pd.pivot_table(df_ry,values='Yellow_Cards', index=['Position','Team'],aggfunc='sum')
pt_team

                   Yellow_Cards
Position Team
BR       England              5
         France               2
         Ireland              2
         Italy                3
         Scotland            15
         Wales               11
C        England              5
         France               3
         Ireland              3
         Italy                1
         Scotland             2
         Wales                1
FB       England              0
         France               0
         Ireland              3
         Italy                1
         Scotland             3
         Wales                4
FH       England              5
         France               1
         Ireland              5
         Italy                3
         Scotland             2
         Wales                3
HO       England              2
         France               1
         Ireland              5
         Italy                8
         Scotland             4
         Wales                2
L        England              8
         France               0
         Ireland              7
         Italy                5
         Scotland             9
         Wales               10
PR       England             21
         France               1
         Ireland              9
         Italy                9
         Scotland             8
         Wales                5
SH       England              2
         France               3
         Ireland              2
         Italy                4
         Scotland             1
         Wales                2
W        England              6
         France               1
         Ireland              4
         Italy                3
         Scotland             2
         Wales                3

### Create the columns for Back and Forwards

In [24]:
def field_position(c):
    if c['Position'] in ['L', 'HO', 'PR', 'BR']:
        return 'Forward'
    elif c['Position'] in ['FH', 'SH', 'C', 'W', 'FB']:
        return 'Back'

df_ry['Field Position'] = df_ry.apply(field_position, axis=1)    

df_ry

,Player_Name,Player_id,Position,Team,Season_id,Season_name,Yellow_Cards,Red_Cards,Field Position
0,"Medard, Maxime",sr:player:428238,W,France,sr:season:56025,European Cup 18/19,0,0,Back
1,"Medard, Maxime",sr:player:428238,W,France,sr:season:35125,European Cup 16/17,0,0,Back
2,"Medard, Maxime",sr:player:428238,W,France,sr:season:59616,World Cup 2019,0,0,Back
3,"Medard, Maxime",sr:player:428238,W,France,sr:season:10718,Top 14 15/16,0,0,Back
4,"Medard, Maxime",sr:player:428238,W,France,sr:season:11032,Six Nations 2016,0,0,Back
...,...,...,...,...,...,...,...,...,...
1790,"Zanni, Alessandro",sr:player:450864,L,Italy,sr:season:59616,World Cup 2019,0,0,Forward
1791,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:45148,European Cup 17/18,0,0,Forward
1792,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:55971,Pro 14 18/19,0,0,Forward
1793,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:67705,Pro 14 19/20,0,0,Forward
1794,"Riccioni, Marco",sr:player:942226,PR,Italy,sr:season:68606,European Cup 19/20,0,0,Forward

# Save the new data frame with the new field